._dash-undo-redo {
	display: none;
}

._dash-loading {
	display: none;
}

.btn {
	border-radius:0.25rem;
}

.bg-light {
    background-color: #fff !important;
}

.jumbotron {
    background-color: #fff;
    padding: 35px;
}
.display-4 {
	font-size:46px;
}

.lead {
    font-weight:300;
}

.support {
    font-weight:300;
    font-size:1.15rem;
    font-style: italic;
}

.bold-link {
    margin-top: 15px;
    font-weight:500;
}

.ticker-header{
	padding-top:20px;
	font-size:36px;
}

@media(max-width: 768px) {
    button.full-width {
        width: 100%; 
        margin-bottom: 5px; 
    }
}

@media(max-width: 768px) {
    input.full-width {
        width: 100%; 
        margin-top: 10px; 
    }
}


.card {
    width: 10%; 
    float:left;
    min-height: 110px;
    padding:2px;
}

@media(max-width: 1000px) {
    .card {
        width: 20%;
        min-height: 90px;
        float:left;
    }
}

@media(max-width: 600px) {
    .card {
        width: 25%;
        min-height: 88px;
        float:left;
    }
    .jumbotron {
        padding-bottom:15px;
    }
}


img.card-img {
width: 100%;
opacity:1;
transition: 0.5s ease;
}

img.card-img:hover{
width: 100%;
opacity:0.65;
transition: 0.5s ease;
}
    